.logo {
  color: #fff;
  font-size: 16px;
  line-height: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    color: #108ee9;
  }
}

.menu {
  padding-top: 20px;
  height: 100%;
}

.menu-item:hover {
  background-color: #cccccc;
}

.menu-item-active {
  background-color: #f7f7f7;
}

.float-right {
  float: right;
}

.centered {
  text-align: center;
}

.ant-layout-sider-collapsed {
  flex: 0 0 34px!important;
  width: 34px!important;
}

.ant-menu-item {
  padding: 0 10px!important;
}
